body, html {
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 100%;
}

video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: -1;
}

.hide-cursor {
	cursor: none;
}
